@model SOPManagement.Models.SOPClass

<option value="">Please select a subfolder</option>

@if (ViewBag.ddlSubFolders != null)
{

    foreach (var item in ViewBag.ddlSubFolders)
    {
        <option value="@item.Value">@item.Text</option>

    }
}


