
@{
    ViewBag.Title = "Access SOP Archive";
    TempData["PageTitle"] = "Access SOP Archive";
    TempData["SOPName"] = "N/A";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccessArchive</h2>

