

<div>
    <div class="col-md-12">
        <h1>SOP Message:</h1>
    </div>
</div>
<div>
    <div class="col-md-12">
        @*@ViewBag.ErrorMessage*@

        <h2> <font color="red">  Critical client or server error occured. Please contact IT!  </font></h2>

    </div>
    @*<div class="col-md-12">
        <p>
            <button onclick="goBack()">Go Back</button>
        </p>

        <br />
    </div>*@
</div>