@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Radiant Canada<br />
    1280 Courtneypark Drive, Mississauga,ON<br />
    <abbr title="Phone">P:</abbr>
    905-602-2700
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:it@radiantdelivers.com">Support@example.com</a><br />
</address>