
@{
    ViewBag.Title = "Create SOP File";
}

<h2>CreateFile</h2>

@using (Html.BeginForm("ExportToWord", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="Title" class="label-default">Title:</label>
        <input name="Title" class="text-info" />
    </div>
    <div class="form-group">
        <label for="SOPNO" class="label-default">SOPNO:</label>
        <input name="SOPNO" class="text-info" />
    </div>
    <button type="submit" class="btn-primary">Submit</button>
}