
@{
    ViewBag.Title = "Data Maintenance (HR/IT)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sopmessagebox">

    <div style="font-size:36px;font-weight:bold">

        @if (ViewBag.Title != null)
        {
            @ViewBag.Title
        }
        else
        {
            @TempData["PageTitle"]
        }

    </div>


        Contents to follow.

    </div>


