@{
    TempData["PageTitle"] = "Data Maintenance (HR/IT)";
    Session["ShowTitle"] = "yes";

}

<p>

    <table>

        <tr>

            <td colspan="13">
                <b>  Template for Employee List Report to IT:</b>

            </td>
        </tr>
        <tr>
            <td class="signoffield">

                First Name

            </td>

            <td class="signoffield">

                Last Name

            </td>

            <td class="signoffield">

                Work Contact: Work Email

            </td>

            <td class="signoffield">

                Office

            </td>

            <td class="signoffield">

                Job Title

            </td>

            <td class="signoffield">

                Company

            </td>

            <td class="signoffield">

                Description

            </td>


            <td class="signoffield">

                Office

            </td>

            <td class="signoffield">

                Company

            </td>


            <td class="signoffield">

                Department Name

            </td>

            <td class="signoffield">

                Manager Name

            </td>


            <td class="signoffield">

                Manager Email

            </td>


            <td class="signoffield">

                Position Status

            </td>


        </tr>

    </table>

</p>

<p>

    <table>

        <tr>

            <td colspan="3">
                <b> HR & IT Communication Structure: </b>

            </td>
        </tr>
        <tr>
            <td class="signoffield">

                Process:

            </td>

            <td class="signoffield">

                Email Routing:

            </td>

            <td class="signoffield">

                Comment:

            </td>


        </tr>

        <tr>
            <td width="40%">
                Monthly Employee List Report (per above template)
            </td>
            <td width="20%">
                HR to IT

            </td>
            <td width="20%">
                Sent on First Business Day of every month
            </td>

        </tr>

        <tr>
            <td>
                Employee Addition & Deletion
            </td>
            <td>
                HR to IT

            </td>
            <td>
                Occurs as it happens
            </td>

        </tr>

        <tr>
            <td>
                Employee Addition & Deletion
            </td>
            <td>
                HR to IT

            </td>
            <td>
                Occurs as it happens
            </td>

        </tr>

        <tr>
            <td>
                Employee Transfers
            </td>
            <td>
                HR to IT/Admin Payables
            </td>
            <td>
                Occurs as it happens
            </td>


        </tr>




    </table>

</p>