@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Radiant Canada Standard Operating Procedure (SOP) Document Management</h2>
    <p class="lead">SOP is a ASP.NET web application that makes SOP management and access very easy through dashboard.</p>
    <p>It stores SOP documents in Microsoft SharePoint Online and manage changes of document through database.
    Users can easily manage SOP and access SOP without even having any training on this</p>
</div> 

<div class="row">
    <div class="col-md-4">.
        <h2>How to access SOP</h2>
        <p>
            Coming soon...
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to manage SOP</h2>
        <p>Coming soon..</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More help</h2>
        <p>Coming soon...</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>