
@{
    ViewBag.Title = "Log In";
}

<div class="Content">

    <div>
        <div class="col-md-12">
            <h1>SOP Alert:</h1>
        </div>
    </div>
    <div>
        <div class="col-md-12">


            <h2>
                <font color="red">

                    Your session was timed out due to your inactivity for @Session.Timeout minutes.
                    Please close the broweser and browse application again to start a new session.
                </font>
            </h2>

        </div>
    </div>

</div>