
@{
    
    TempData["PageTitle"] = "Publish SOP";
}

<div class="sopmessagebox">
    <div style="font-size:36px;font-weight:bold">

        @if (TempData["PageTitle"] != null)
        {
            @TempData["PageTitle"]
        }

        else if (Session["PageTitle"] != null)
        {

            @Session["PageTitle"]
        }


    </div>

    Please wait, DO NOT click on menu’s while publishing.

</div>

<div id="loading">
    <img id="loading-image" src="~/Content/Images/soploading.gif" alt="Loading..." />
</div>

<script>

    window.onload = function () {
        //alert("window load complete");
        window.location.href = '@Url.Action("ProcessPublish", "Home")'
    }

</script>