<div class="Content">

    <div>
        <div class="col-md-12">
            <h1>Error:</h1>
        </div>
    </div>
    <div>
        <div class="col-md-12">
            @*@ViewBag.ErrorMessage*@

            <h2> <font color="red">   @Session["ErrorMsg"] </font> </h2>

        </div>


    </div>

</div>
