<div class="Content">

    <div>
        <div class="col-md-12">
            <h1>SOP Message:</h1>
        </div>
    </div>
    <div>
        <div class="col-md-12">
            @*@ViewBag.ErrorMessage*@

            @if ((Session["SOPMsg"].ToString().ToLower().Contains("failed"))
                || (Session["SOPMsg"].ToString().ToLower().Contains("error")))
            {

                <h2> <font color="red">  @Session["SOPMsg"]  </font></h2>
            }
            else

            {
                <h2> @Session["SOPMsg"] </h2>
            }

        </div>

        @if (Session["Dashboardlink"]!=null && Session["Dashboardlink"].ToString()!="")
        {

            <div class="col-md-12">
                <p>
                    <a href=@Session["Dashboardlink"].ToString() target="_blank">Click here to go back to SOP Dashboard</a>
                </p>

            </div>
            
            <br />
            
        }


    </div>

</div>
