<div class="Content">

    <div>
        <div class="col-md-12">
            <h1>SOP Message:</h1>
        </div>
    </div>
    <div>
        <div class="col-md-12">
            @*@ViewBag.ErrorMessage*@

            @if ((Session["SOPMsg"].ToString().ToLower().Contains("failed"))
                || (Session["SOPMsg"].ToString().ToLower().Contains("error")))
            {

                <h2> <font color="red">  @Session["SOPMsg"]  </font></h2>
            }
            else

            {
                <h2> @Session["SOPMsg"] </h2>
            }

        </div>
        <div class="col-md-12">
            <p>
                <button onclick="goBack()">Go Back</button>
            </p>
            
            <br />
        </div>
    </div>

</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
