
@{
    ViewBag.Title = "Publish SOP";
}

<div class="sopmessagebox">

    <div style="font-size:36px;font-weight:bold">

        @if (ViewBag.Title != null)
        {
            @ViewBag.Title
        }
        else
        {
            @TempData["PageTitle"]
        }

    </div>


    <font color="red"><b>ERROR:</b></font>SOP must be published to allow user access.


    <br />

    @if (TempData["SOPName"] == null)
    {
        <b> SOP Name:</b> @ViewBag.SOPTitle
    }

    else
    {
        <b> SOP Name:</b> @TempData["SOPName"].ToString()
    }

    <br />
    <br />
    <button onclick="goBack()">Go Back</button>
</div>




<script>
    function goBack() {
        window.history.back();
    }
</script>

