
@{
    ViewBag.Title = "SOP Message";
}

<div class="Content">

    <div>
        <div class="col-md-12">
            <h1>SOP Alert:</h1>
        </div>
    </div>
    <div>
        <div class="col-md-12">


            <h2> <font color="red"> The SOP @ViewBag.SOPTitle with SOP NO @ViewBag.SOPNO cannot be accessed now since
                 this SOP is under publishing with all approved new changes. To get access, please contact SOP approver for publishing the new changes. </font></h2>

        </div>
        <div class="col-md-12">
            <p>
                <button onclick="goBack()">Go Back</button>
            </p>

            <br />
        </div>
    </div>

</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

