@model SOPManagement.Models.CascadingClass
@{
    /**/

    ViewBag.Title = "UploadSOPFile";
}

<h2>UploadSOPFile</h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>


@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div>

        <label for="file">Select the Filename:</label>
        <input type="file" name="postedFile" id="file" />

    </div>

    <div class="form-group">
        <label for="Department Folder Name" class="label-default">Department Folder Name:</label>
        <input name="deptfoldername" class="text-info" />


        @if (ViewBag.ddlDeptFolders != null)
        {
            @Html.DropDownListFor(m => m.DeptFileName, ViewBag.ddlDeptFolders as SelectList, "Please select a folder", new { @class = "form-control" })
        }

        @Html.DropDownListFor(m => m.FileID, new SelectList(""), "Please select a subfolder", new { @class = "form-control" })




    </div>




    <script>

        $(document).ready(function () {

            $("#DeptFileName").change(function () {

                var foldername = $(this).val();
                //debugger

                $.ajax(
                    {

                        type: "post",
                        url: "/Home/GetSubFolderList?foldername=" + foldername,
                        contentType: "html",
                        success: function (response) {
                          //  debugger
                            $("#FileID").empty();
                            $("#FileID").append(response);

                        }
                    }

                )


            })


        })



    </script>



    <div class="form-group">
        <label for="Sub Folder Name" class="label-default">Sub Folder name:</label>
        <input name="subfoldername" class="text-info" />
    </div>


    @*<div class="form-group">
            <label for="Title" class="label-default">Title:</label>
            <input name="Title" class="text-info" />
        </div>*@


    <div class="form-group">
        <label for="SOPNO" class="label-default">SOP NO:</label>
        <input name="sopno" class="text-info" />
    </div>


    <button type="submit" class="btn-primary">Submit</button>
}