
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

<div>

    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {

        <span>Select File:</span>

        <input type="file" name="postedFile" />

        <hr />

        <input type="submit" value="Upload" />

        <br />

        <span style="color:green">@ViewBag.Message</span>

    }

</div>