body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.submit-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 6em;
    padding-top: 2.3em;
    /* The following rules are the
     ones most likely to change */
    width: 20em;
    /* Set 'margin-left' to a negative number
     that is 1/2 of 'width' */
    margin-left: -10em;
    padding-left: 2.1em;
    background-color: darkred;
    color: white;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
}

.submit-progress {
    padding-top: 2em;
    width: 23em;
    margin-left: -11.5em;
}

    .submit-progress i {
        margin-right: 0.5em;
    }

.submit-progress-bg {
    background-color: lightgray;
    opacity: .5;
}

.signoffield {
    background-color: lightgray;
    width: 30%;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width:60%;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th {
    background-color: lightgray;
}

.menutextcss {
    color: White;
    font-weight: bold;
    font-size:200% ;
}

.sopmenu {
    margin: auto;
    width: 100%;
    border: 3px solid #73AD21;
    padding: 5px;
    background-color: #6699FF
}


.sopmessagebox {
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    width: 100%;
    margin-top: 10px
}